<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>注文フォーム</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>注文フォーム</h1>
        <form th:action="@{/order/validate-input}" method="post" th:object="${orderInput}">
            <table>
                <tr>
                    <th>お名前</th>
                    <td><input type="text" th:field="*{name}" /><div th:errors="*{name}"></div></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><input type="text" th:field="*{address}" /><div th:errors="*{address}"></div></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><input type="text" th:field="*{phone}" /><div th:errors="*{phone}"></div></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><input type="text" th:field="*{emailAddress}" /><div th:errors="*{emailAddress}"></div></td>
                </tr>
                <tr>
                    <th>お支払方法</th>
                    <td>
                        <input type="radio" id="bankRadio" value="BANK" th:field="*{paymentMethod}"/>
                        <label for="bankRadio">銀行振込</label>
                        <input type="radio" id="convenienceStoreRadio" value="CONVENIENCE_STORE" th:field="*{paymentMethod}"/>
                        <label for="convenienceStoreRadio">コンビニ払い</label>
                    </td>
                </tr>
            </table>
            <input type="submit" value="注文内容を確認" />
        </form>
    </body>
</html>