<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>研修一覧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>研修一覧</h1>
<table border="1">
  <tr>
    <th>研修タイトル</th>
    <th>開始日時</th>
    <th>終了日時</th>
    <th>予約数</th>
    <th>定員</th>
  </tr>
  <tr th:each="training:${trainings}">
    <td><a th:href="@{/training/display-details(trainingId=${training.id})}"><span
            th:text="${training.title}"></span></a></td>
    <td><span th:text="${#temporals.format(training.startDateTime, 'yyyy/MM/dd HH:mm')}"></span>
    </td>
    <td><span th:text="${#temporals.format(training.endDateTime, 'yyyy/MM/dd HH:mm')}"></span></td>
    <td><span th:text="${training.reserved}"></span></td>
    <td><span th:text="${training.capacity}"></span></td>
  </tr>
</table>
</body>
</html>